/* Hide zoom controls and share button in mobile mode */
@media (max-width: 1004px) {
    .leaflet-control-zoom {
      display: none !important;
    }
    .map-controls{
        display: none!important;
    }
    .map-controls-container {
    display: none !important;
  }
  }